# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.T4_Camera_watchin.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\DOCS\GitHub\unityProjects\T4_Camera_watchin\.idea\.idea.T4_Camera_watchin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
